.DS_Store
.idea
iphone/AgileAus2010/build
iphone/AgileAus2010/www
iphone/AgileAus2010/AgileAus2010.xcodeproj/*.mode1v3
iphone/AgileAus2010/AgileAus2010.xcodeproj/*.pbxuser
iphone/AgileAus2010/AgileAus2010.xcodeproj/*.perspectivev3
