/* From git://gist.github.com/273904.git */

/* @group Segmented */

#jqt ul.segmented {
   border:                0px;
   background:            none;
   overflow:              hidden;
   list-style:            none;
   text-align:            center;
   font-size:             1px;
   padding:               4px 3px 0 3px;
   margin:                0px;
   -webkit-border-radius: 8px;
}

#jqt ul.segmented li{
   border:                1px solid rgba(180, 180, 180, 0.8);
   border-left:           0;
   border-right:          1;

   display:               inline-block;

   font-size:             12px;
   text-align:            center;
   font-weight:           bold;
   background-color:      #e1e1e1; /* For V2.2.1 */
   background:            -webkit-gradient(linear, 0% 0%, 0% 100%, from(#999999), to(#666666));

   -webkit-box-sizing:    border-box;
   -webkit-box-shadow:    rgba(255,255,255,0.8) 0px 1px 2px;
   -webkit-border-radius: 0;

}
#jqt ul.segmented li:last-child,
#jqt ul.segmented li:last-child a {
   -webkit-border-radius:               8px;
   -webkit-border-bottom-left-radius:   0px;
   -webkit-border-top-left-radius:      0px;
}

#jqt ul.segmented li:first-child{
  border-left: 1px solid rgba(180, 180, 180, 0.4);
}
#jqt ul.segmented li:first-child,
#jqt ul.segmented li:first-child a {
   -webkit-border-radius:               8px;
   -webkit-border-bottom-right-radius:  0px;
   -webkit-border-top-right-radius:     0px;
}

#jqt ul.segmented li a{
   color:                 white !important;
   text-shadow:           rgba(0,0,0,.8) 1px 1px 0px;
   text-decoration:       none;
   padding:               8px;
   display:               block;
   position:              relative;
}

#jqt ul.segmented li a.selected {
   background-color:      #528CE7; /* For V2.2.1 */
   background:            -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ff6666), to(#cc3333));
   color:                 #eee;
   overflow:              hidden;
}
#jqt ul.segmented li a.selected::before,
#jqt ul.segmented li a.selected::after{
  content:                " ";
  display:                block;
  position:               absolute;
  -webkit-box-shadow:     rgba(0, 0, 0, 0.95) 0px 0px 10px;
}
#jqt ul.segmented li a.selected::after {
  height:                 1px;
  width:                  100%;
  top:                    0px;
  right:                  0px;
}

#jqt ul.segmented li a.selected::before{
  height:                 100%;
  width:                  1px;
  top:                    0px;
  right:                  0px;
}

/* @end */